@use '../../Sasscript/src/ss.scss';

:root {
   background: url('background.png') fixed no-repeat ss.color('black');
   background-size: 100%;

   color-scheme: light;

   @include ss.breakpoint('mobile') {
      background: ss.color('black');
   }
}

body {
   @include ss.flex(column, '', '', '', center);

   text-align: center;

   > * {
      @include ss.block;
      @include ss.reset('border');

      background-color: ss.color('white');
      width: clamp(500px, 70%, 1000px);

      @include ss.breakpoint('mobile') {
         width: 100%;
      }
   }
}

pre {
   @include ss.precode;

   background-color: ss.color('silver');
   text-align: left;
}
